*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #f9f1e4;
  background-image:
    linear-gradient(rgba(249, 241, 228, 0.75), rgba(180, 119, 22, 0.9)),
    url(../img/background_fone.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; 
}

header{
  display: flex;
  position: fixed;
  top: 15px;
  left: 2%;
  right: 2%;

  justify-content: space-between;
  padding: 10px 2%;
  align-items: center;

  background-color: #e5ab85;
  border-radius: 40px;
  border: 2px solid #666;

  box-sizing: border-box;
}

nav{
  display: flex;
  gap: clamp(2px, 3vw, 80px);
}

a.nav{
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
  background-color: white;
  padding: 2px clamp(8px, 2vw, 30px);
  font-size: clamp(10px, 2vw, 20px);
  white-space: nowrap;

  border: 2px solid black;
  border-radius: 40px;
  transition: all 0.4s ease;
  font-family: Pacifico;
}

a.nav:hover{
  background-color: #e1858584;
}

.name-site-nav,
.contacts{
  display: flex;
  font-size: clamp(3px, 2vw, 20px);
  margin: 0% 1%;
  font-family: Pacifico;
  text-align: center;
}

.Logo-img{
  display: block;
  width: clamp(260px, 95%, 740px);
  max-height: 395px;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.Logo-figure{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(80px, 10vw, 200px);
  margin-bottom: clamp(10px, 2vw, 70px);
}

.slogan{
  font-size: clamp(12px, 6vw, 50px);
  font-family: Pacifico;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  margin: 0 clamp(10px, 5vw, 10%);
}

.signature{
  color: #666;
  font-size: clamp(10px, 1.4rem, 40px);
}

.slogan-and-signature{
  display: flex;
  text-align: center;
  font-weight: bold;
  flex-direction: column;
}


.info{
  display: flex;
  flex-direction: column;
}

section > h2{
  margin-top: clamp(100px, 9%, 150px);
  margin-left: 7%;
  scroll-margin-top: 100px;
}

.block-text{
  margin: 1% 3%;
  border: 2px solid black;
  border-radius: 40px;
  background-color: #f9f1e4;
  padding: clamp(15px, 1vw, 50px);
}

div > p{
  font-family: Pacifico;
  font-size: 21px;
}

.service{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  border: 2px solid black;
  border-radius: 20px;
  padding: 1% 1%;
  background-color: #e8dcc4;
  margin: 1% 3%;
}

.provice{
  grid-row: span 2;
}

